django==4.2
django-environ==0.10.0
psycopg2-binary==2.9.6
google-cloud-secret-manager==2.16.1
google-api-python-client==2.86.0
gunicorn==20.1.0
django-storages==1.13.2
Pillow==9.5.0
google-cloud-storage==2.8.0
django-redirect-to-non-www==0.1.1
pytest==7.3.1
pytest-django
django-image-optimizer==1.0.3
django-recaptcha==3.0.0
