{% extends 'layouts/base.html' %}
{% load static %}

{% block seo_title %}Data Protection Policy{% endblock %}
{% block seo_description %}
    This Data Protection Policy sets out the policy which Crassula group has adopted in order to facilitate compliance
    with the General Data Protection Regulations (the GDPR) when we establish and manage customer and business
    relationships and execute transactions.
{% endblock %}

{% block structured_data %}
    <!-- Structured Data -->
    <!-- BreadcrumbList -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Crassula",
        "item": "https://crassula.io/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Data Protection Policy"
      }]
    }
    </script>
{% endblock %}

{% block content %}

    <!-- Hero section with layer parallax gfx -->
    <section class="d-flex align-items-center position-relative overflow-hidden py-5 mb-lg-5 mb-3 bg-dark">
        <div class="container py-5">
            <div class="row align-items-center flex-lg-nowrap py-lg-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <div class="mx-lg-0 mx-auto pt-2" style="max-width: 640px;">
                        <h1 class="display-5 pb-lg-3 text-light">Data Protection Policy</h1>
                        <div>
                            Last updated: May 24, 2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-5">
            <p>This Data Protection Policy sets out the policy which Crassula group has adopted in order to facilitate
                compliance with the General Data Protection Regulations (the "GDPR") when we establish and manage
                customer and business relationships and execute transactions.</p>
            <p>The GDPR regulates the "processing" of "personal data".</p>
            <p>"Personal data" is defined as any information relating to an identified or identifiable natural person
                (‘data subject’). An identifiable natural person is one who can be identified, directly or
                indirectly.</p>
            <p>It applies to all data that the company holds relating to identifiable individuals, even if that
                information technically falls outside of the GDPR. This can include:</p>

            <ul>
                <li>names of individuals;</li>
                <li>an identification number;</li>
                <li>location data;</li>
                <li>an online identifier;</li>
                <li>email addresses;</li>
                <li>telephone numbers;</li>
                <li>one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or
                    social identity of that natural person; and
                </li>
                <li>any other information relating to individuals.</li>
            </ul>

            <p>"Processing" covers any operation or set of operations which is performed on personal data or on sets of
                personal data, whether or not by automated means, such as collection, recording, organisation,
                structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by
                transmission, dissemination or otherwise making available, alignment or combination, restriction,
                erasure or destruction.</p>

            <h2>Scope</h2>
            <p>This policy applies to:</p>

            <ul>
                <li>the EU offices of Crassula group;</li>
                <li>all staff and volunteers of Crassula;</li>
                <li>all contractors, suppliers and other people (authorised persons) working on behalf of the Crassula
                    group.
                </li>
            </ul>

            <p>A copy of this Policy will be supplied to each such person mentioned above. The requirements set out in
                this Policy are mandatory unless otherwise stated and must be followed by all persons involved in the
                data processing activities. It is the responsibility of each such person to acquaint themselves with the
                requirements of this Policy. Failure to comply with this Policy may constitute a serious disciplinary
                offence and could result in dismissal.</p>

            <h2>Purpose</h2>
            <p>Crassula processes personal data in various situations and in relation to various categories of
                individual. This Policy deals specifically with personal data collected in the context of the
                establishment and management of our customer relationships and the execution of transactions on the
                instructions of our customers. The individuals to whom personal data relate, whether customers or
                otherwise, are known as "data subjects".</p>
            <p>The Data State Inspectorate (DSI) is responsible for enforcement of the GDPR and has published a range of
                guidance on data protection issues, all of which is available on the Inspectorate's website at
                <a href="https://www.dvi.gov.lv">https://www.dvi.gov.lv</a>.</p>
            <p>The DSI in Latvia is also a Lead supervisory authority chosen by Crassula group.</p>

            <h2>Policy Statement</h2>
            <p>Our principal obligations under the GDPR include:</p>

            <ul>
                <li>Respect individuals’ rights;</li>
                <li>Processing personal data lawfully, fairly and in a transparent manner in relation to the data
                    subject (‘lawfulness, fairness and transparency’);
                </li>
                <li>Collecting personal data for specified, explicit and legitimate purposes and not further process in
                    a manner that is incompatible with those purposes (‘purpose limitation’);
                </li>
                <li>Ensuring that personal data are adequate, relevant and limited to what is necessary in relation to
                    the purposes for which they are processed (‘data minimisation’);
                </li>
                <li>Ensuring that personal data are accurate and, where necessary, kept up to date; every reasonable
                    step must be taken to ensure that personal data that are inaccurate, having regard to the purposes
                    for which they are processed, are erased or rectified without delay (‘accuracy’);
                </li>
                <li>Ensuring that personal data are kept in a form which permits identification of data subjects for no
                    longer than is necessary for the purposes for which the personal data are processed; (‘storage
                    limitation’);
                </li>
                <li>Ensuring that personal data are processed in a manner that ensures appropriate security of the
                    personal data, including protection against unauthorised or unlawful processing and against
                    accidental loss, destruction or damage, using appropriate technical or organisational measures
                    (‘integrity and confidentiality’).
                </li>
                <li>Provide training and support for staff and volunteers who handle personal data, so that they can act
                    confidently and consistently;
                </li>
                <li>Provide training and support for staff and volunteers who handle personal data, so that they can act
                    confidently and consistently;
                </li>
                <li>Responding appropriately when data subjects seek to exercise their statutory rights of access,
                    correction and objection.
                </li>
            </ul>

            <p>This Policy is supplementary to our other published policies.</p>

            <h2>Customer and partner data</h2>
            <h3>Data processing for a contractual relationship</h3>
            <p>Personal data of the relevant prospects, customers and partners can be processed in order to establish,
                execute and terminate a contract. This also includes advisory services for the partner under the
                contract if this is related to the contractual purpose. Prior to a contract – during the contract
                initiation phase – personal data can be processed to prepare bids or purchase orders or to fulfill other
                requests of the prospect that relate to contract conclusion. Prospects can be contacted during the
                contract preparation process using the information that they have provided. Any restrictions requested
                by the prospects must be complied with.</p>
            <p>Crassula processes the following personal data for this purpose:</p>

            <ol>
                <li>Name and Surname</li>
                <li>Residential address</li>
                <li>Phone</li>
                <li>Email</li>
                <li>Postal code</li>
                <li>Credit card data (umber, expiration date, cvc/cvv)</li>
                <li>ID document (passport, driver license, other ID)</li>
                <li>Customer IP-address</li>
            </ol>

            <h3>Data processing for advertising purposes</h3>
            <p>If the data subject contacts a Crassula company to request information (e.g. request to receive
                information material about a product), data processing to meet this request is permitted.</p>
            <p>Customer loyalty or advertising measures are subject to further legal requirements. Personal data can be
                processed for advertising purposes or market and opinion research, provided that this is consistent with
                the purpose for which the data was originally collected. The data subject must be informed about the use
                of his/her data for advertising purposes. If data is collected only for advertising purposes, the
                disclosure from the data subject is voluntary. The data subject shall be informed that providing data
                for this purpose is voluntary. When communicating with the data subject, consent shall be obtained from
                him/her to process the data for advertising purposes. When giving consent, the data subject should be
                given a choice among available forms of contact such as regular mail, e-mail and phone.</p>
            <p>If the data subject refuses the use of his/her data for advertising purposes, it can no longer be used
                for these purposes and must be blocked from use for these purposes. Any other restrictions from specific
                countries regarding the use of data for advertising purposes must be observed.</p>
            <p>Crassula processes the following personal data for this purpose:</p>

            <ol>
                <li>Name and Surname</li>
                <li>Residential address</li>
            </ol>

            <h3>Consent to data processing</h3>
            <p>Data can be processed following consent by the data subject. Before giving consent, the data subject must
                be informed of the Privacy Policy with the similar to this Data Protection Policy provisions in regards
                of personal data protection.</p>
            <p>The declaration of consent must be obtained in writing or electronically for the purposes of
                documentation. In some circumstances, such as telephone conversations, consent can be given verbally.
                The granting of consent must be documented.</p>

            <h3>Data processing pursuant to legal authorisation</h3>
            <p>The processing of personal data is also permitted if national legislation requests, requires or allows
                this. The type and extent of data processing must be necessary for the legally authorised data
                processing activity, and must comply with the relevant statutory provisions.</p>

            <h3>Data processing pursuant to legitimate interest</h3>
            <p>Personal data can also be processed if it is necessary for a legitimate interest of the Crassula Group.
                Legitimate interests are generally of a legal (e.g. collection of outstanding receivables) or commercial
                nature (e.g. avoiding breaches of contract). Personal data may not be processed for the purposes of a
                legitimate interest if, in individual cases, there is evidence that the interests of the data subject
                merit protection, and that this takes precedence. Before data is processed, it is necessary to determine
                whether there are interests that merit protection.</p>

            <h3>Automated individual decisions</h3>
            <p>Automated processing of personal data that is used to evaluate certain aspects (e.g. creditworthiness)
                cannot be the sole basis for decisions that have negative legal consequences or could significantly
                impair the data subject. The data subject must be informed of the facts and results of automated
                individual decisions and the possibility to respond. To avoid erroneous decisions, a test and
                plausibility check must be made by an employee.</p>

            <h3>User data and internet</h3>
            <p>If personal data is collected, processed and used on websites or in apps, the data subjects must be
                informed of this in a privacy statement and, if applicable, information about cookies. The privacy
                statement and any cookie information must be integrated so that it is easy to identify, directly
                accessible and consistently available for the data subjects.</p>
            <p>If use profiles (tracking) are created to evaluate the use of websites and apps, the data subjects must
                always be informed accordingly in the privacy statement. Personal tracking may only be affected if it is
                permitted under national law or upon consent of the data subject. If tracking uses a pseudonym, the data
                subject should be given the chance to opt out in the privacy statement.</p>
            <p>If websites or apps can access personal data in an area restricted to registered users, the
                identification and authentication of the data subject must offer sufficient protection during
                access.</p>

            <h2>Special categories of personal data (sensitive personal data)</h2>
            <p>Crassula does not seek to collect or process personal data identified by the GDPR as "sensitive" for
                Customer and/or Transaction Management purposes. You should not collect or process sensitive personal
                data for these purposes and should delete them if you become aware that we have collected them, except
                with the approval of the Data Protection Officer given on the basis of an assessment of the requirements
                of the GDPR. Sensitive personal data is defined as personal data consisting of information as to:</p>

            <ol>
                <li>Racial or ethnic origin;</li>
                <li>Political opinion;</li>
                <li>Religious or philosophical beliefs;</li>
                <li>Trade union membership;</li>
                <li>Physical or mental health or condition;</li>
                <li>Genetic data, and biometric data where processed to uniquely identify an individual;</li>
                <li>Sex life or sexual orientation.</li>
            </ol>

            <p>If at any time Crassula will need to process such sensitive personal data in the future due to the
                changes in the purposes of data processing, the processing will be carried out in accordance with the
                principles set out in the GDPR.</p>

            <h2>Processing of personal data relating to criminal convictions and offences</h2>
            <p>Processing of personal data relating to criminal convictions and offences shall be carried out only under
                the control of official authority or when the processing is authorised by Union or Member State law
                providing for appropriate safeguards for the rights and freedoms of data subjects. Any comprehensive
                register of criminal convictions shall be kept only under the control of official authority.</p>
            <p>It means to process personal data about criminal convictions or offences, Crassula must have both a
                lawful basis and either legal authority or official authority for the processing.</p>
            <p>Currently, Crassula does not seek to collect or process personal data relating to criminal convictions
                and offences.</p>
            <p>If at any time Crassula will need to process such personal data in the future due to the changes in the
                purposes of data processing or under the instruction of the controller of personal data, the processing
                will be carried out in accordance with the principles set out in the GDPR.</p>

            <h2>Rights of the data subject</h2>
            <p>Every data subject has the following rights. Their assertion is to be handled immediately by the
                responsible unit and cannot pose any disadvantage to the data subject.</p>
            <h3>1. Right to be informed</h3>
            <p>The data subject may request information on which personal data relating to him/her has been stored, how
                the data was collected, and for what purpose. If there are further rights to view the employer’s
                documents (e.g. personnel file) for the employment relationship under the relevant employment laws,
                these will remain unaffected.</p>
            <p>The information Crassula supplies about the processing of personal data must be:</p>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">What information must be supplied?</th>
                        <th scope="col">Data obtained directly from data subject</th>
                        <th scope="col">Data not obtained directly from data subject</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Identity and contact details of the controller and the data protection officer</td>
                        <td class="text-center">V</td>
                        <td class="text-center">V</td>
                    </tr>
                    <tr>
                        <td>Purpose of the processing and the lawful basis for the processing</td>
                        <td class="text-center">V</td>
                        <td class="text-center">V</td>
                    </tr>
                    <tr>
                        <td>The legitimate interests of the controller or third party, where applicable</td>
                        <td class="text-center">V</td>
                        <td class="text-center">V</td>
                    </tr>
                    <tr>
                        <td>Categories of personal data</td>
                        <td class="text-center">V</td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td>Any recipient or categories of recipients of the personal data</td>
                        <td class="text-center">V</td>
                        <td class="text-center">V</td>
                    </tr>
                    <tr>
                        <td>Details of transfers to third country and safeguards</td>
                        <td class="text-center">V</td>
                        <td class="text-center">V</td>
                    </tr>
                    <tr>
                        <td>Retention period or criteria used to determine the retention period</td>
                        <td class="text-center">V</td>
                        <td class="text-center">V</td>
                    </tr>
                    <tr>
                        <td>The existence of each of data subject’s rights</td>
                        <td class="text-center">V</td>
                        <td class="text-center">V</td>
                    </tr>
                    <tr>
                        <td>The right to withdraw consent at any time, where relevant</td>
                        <td class="text-center">V</td>
                        <td class="text-center">V</td>
                    </tr>
                    <tr>
                        <td>The right to lodge a complaint with a supervisory authority</td>
                        <td class="text-center">V</td>
                        <td class="text-center">V</td>
                    </tr>
                    <tr>
                        <td>The source the personal data originates from and whether it came from publicly accessible
                            sources
                        </td>
                        <td class="text-center">V</td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td>Whether the provision of personal data is part of a statutory or contractual requirement or
                            obligation and possible consequences of failing to provide the personal data
                        </td>
                        <td class="text-center">V</td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td>The existence of automated decision making, including profiling and information about how
                            decisions are made, the significance and the consequences
                        </td>
                        <td class="text-center">V</td>
                        <td class="text-center">V</td>
                    </tr>
                    <tr>
                        <td>When should information be provided?</td>
                        <td class="text-center">At the time the data are obtained.</td>
                        <td class="text-center">
                            <p>Within a reasonable period of having obtained the data (within one month)</p>
                            <p>If the data are used to communicate with the individual, at the latest, when the first
                                communication takes place;</p>
                            <p>If disclosure to another recipient is envisaged, at the latest, before the data are
                                disclosed.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <ul>
                <li>confirmation that their data is being processed;</li>
                <li>access to their personal data;</li>
                <li>other supplementary information as shown in the table above.</li>
            </ul>

            <p>Email subject access requests from individuals should be addressed to dpo@crassula.io. If the request is
                made electronically, the information should be provided in a commonly used electronic format. Postal
                requests should be sent to:</p>
            <p>
                <em>
                    Data Protection Officer <br>
                    Crassula<br>
                    Eksporta iela 12, office 156,<br>
                    Riga, LV-1045,<br>
                    Latvia
                </em>
            </p>
            <p>DPO or the relevant person must verify the identity of the person making the request.</p>
            <p>Crassula will provide a copy of the information free of charge. However, Crassula can charge a
                ‘reasonable fee’ or refuse to respond when a request is manifestly unfounded or excessive, particularly
                if it is repetitive.</p>
            <p>Crassula may also charge a reasonable fee to comply with requests for further copies of the same
                information. The fee is based on the administrative cost of providing the information.</p>
            <p>Information must be provided without delay and at the latest within one month of receipt of the
                request.</p>
            <p>Crassula will be able to extend the period of compliance by a further two months where requests are
                complex or numerous. If this is the case, Crassula will inform the individual within one month of the
                receipt of the request and explain why the extension is necessary.</p>
            <p><a href="https://docs.google.com/document/d/1qHz1abb-yr1CMc4uyQ71IvKk4WR1uSZtpmXK_M4kQa4">Annex I.
                Request for Access to Personal Data form</a></p>

            <h3>3. Right to rectification</h3>
            <p>Individuals have the right to have personal data rectified if it is inaccurate or incomplete. If Crassula
                has disclosed the personal data in question to others, it must contact each recipient and inform them of
                the rectification - unless this proves impossible or involves disproportionate effort. If asked to,
                Crassula must also inform the individuals about these recipients.</p>
            <p>To perform an action on request Crassula should verify the identity of the natural person making this
                request. The additional information necessary to confirm the identity of the data subject should be
                requested.</p>
            <p>Crassula must respond to such request within 1 month. This can be extended by two months where the
                request for rectification is complex. Where Crassula is not taking action in response to a request for
                rectification, it must explain why to the individual without delay and at the latest within one month of
                receipt of the request, informing him or her of his or her right to complain to the supervisory
                authority and to a judicial remedy.</p>

            <h3>4. Right to erasure (‘right to be forgotten’)</h3>
            <p>This right is to enable an individual to request the deletion or removal of personal data where there is
                no compelling reason for its continued processing. Individuals have a right to have personal data erased
                and to prevent processing in specific circumstances:</p>
            <p>Where the personal data is no longer necessary in relation to the purpose for which it was originally
                collected/processed.</p>
            <p>When the individual withdraws consent.</p>
            <p>When the individual objects to the processing and there is no overriding legitimate interest for
                continuing the processing.</p>
            <p>The personal data was unlawfully processed (ie otherwise in breach of the GDPR).</p>
            <p>The personal data has to be erased in order to comply with a legal obligation.</p>
            <p>The personal data is processed in relation to the offer of information society services to a child.</p>
            <p>To perform an action on request Crassula should verify the identity of the natural person making this
                request. The additional information necessary to confirm the identity of the data subject should be
                requested.</p>
            <p>If Crassula has disclosed the personal data in question to others, it must contact each recipient and
                inform them of the erasure of the personal data - unless this proves impossible or involves
                disproportionate effort. If asked to, Crassula must also inform the individuals about these
                recipients.</p>
            <p>Information on action to the individual must be provided without delay and at the latest within one month
                of receipt of the request.</p>
            <p>Crassula will be able to extend the period of compliance by a further two months where necessary. If this
                is the case, Crassula will inform the individual within one month of the receipt of the request and
                explain why the extension is necessary.</p>
            <p>Where Crassula is not taking action in response to a request for erasure, it must explain why to the
                individual without delay and at the latest within one month of receipt of the request, informing him or
                her of his or her right to complain to the supervisory authority and to a judicial remedy.</p>

            <h3>5. Right to restrict processing</h3>
            <p>Individuals have a right to ‘block’ or suppress processing of personal data.</p>
            <p>Crassula will be required to restrict the processing of personal data in the following circumstances:</p>

            <ul>
                <li>Where an individual contests the accuracy of the personal data, Crassula should restrict the
                    processing until it have verified the accuracy of the personal data.
                </li>
                <li>Where an individual has objected to the processing (where it was necessary for the performance of a
                    public interest task or purpose of legitimate interests), and Crassula is considering whether its
                    organisation’s legitimate grounds override those of the individual.
                </li>
                <li>When processing is unlawful and the individual opposes erasure and requests restriction instead.
                </li>
                <li>If Crassula no longer need the personal data but the individual requires the data to establish,
                    exercise or defend a legal claim.
                </li>
            </ul>

            <p>To perform an action on request Crassula should verify the identity of the natural person making this
                request. The additional information necessary to confirm the identity of the data subject should be
                requested.</p>
            <p>Information on action to the individual must be provided without delay and at the latest within one month
                of receipt of the request.</p>
            <p>Crassula will be able to extend the period of compliance by a further two months where necessary. If this
                is the case, Crassula will inform the individual within one month of the receipt of the request and
                explain why the extension is necessary.</p>
            <p>If Crassula has disclosed the personal data in question to others, it must contact each recipient and
                inform them of the restriction on the processing of the personal data - unless this proves impossible or
                involves disproportionate effort. If asked to, Crassula must also inform the individuals about these
                recipients.</p>
            <p>Where Crassula is not taking action in response to a request for restrict processing, it must explain why
                to the individual without delay and at the latest within one month of receipt of the request, informing
                him or her of his or her right to complain to the supervisory authority and to a judicial remedy.</p>
            <p>Crassula must inform individuals when it decides to lift a restriction on processing.</p>

            <h3>6. Right to data portability</h3>
            <p>The right to data portability allows individuals to obtain and reuse their personal data for their own
                purposes across different services. It allows them to move, copy or transfer personal data easily from
                one IT environment to another in a safe and secure way, without hindrance to usability.</p>
            <p>The right to data portability only applies:</p>

            <ul>
                <li>to personal data an individual has provided to a controller;</li>
                <li>where the processing is based on the individual’s consent or for the performance of a contract;</li>
                <li>when processing is carried out by automated means.</li>
            </ul>

            <p>To perform an action on request Crassula should verify the identity of the natural person making this
                request. The additional information necessary to confirm the identity of the data subject should be
                requested.</p>
            <p>Crassula must provide the personal data in a structured, commonly used and machine readable form. Open
                formats include CSV files. Machine readable means that the information is structured so that software
                can extract specific elements of the data. This enables other organisations to use the data.</p>
            <p>The information must be provided free of charge. If the individual requests it, Crassula may be required
                to transmit the data directly to another organisation if this is technically feasible. However, Crassula
                is not required to adopt or maintain processing systems that are technically compatible with other
                organisations.</p>
            <p>If the personal data concerns more than one individual, Crassula must consider whether providing the
                information would prejudice the rights of any other individual.</p>
            <p>Crassula must respond without undue delay, and within one month. This can be extended by two months where
                the request is complex or Crassula receives a number of requests. Crassula must inform the individual
                within one month of the receipt of the request and explain why the extension is necessary.</p>
            <p>Where Crassula is not taking action in response to a request, it must explain why to the individual
                without delay and at the latest within one month of receipt of the request, informing him or her of his
                or her right to complain to the supervisory authority and to a judicial remedy without undue delay and
                at the latest within one month.</p>

            <h3>7. Right to object</h3>
            <p>Individuals have the right to object to:</p>

            <ul>
                <li>processing based on legitimate interests or the performance of a task in the public
                    interest/exercise of official authority (including profiling);
                </li>
                <li>direct marketing (including profiling);</li>
                <li>processing for purposes of scientific/historical research and statistics.</li>
            </ul>

            <p>Crassula must stop processing the personal data unless:</p>

            <ul>
                <li>Crassula can demonstrate compelling legitimate grounds for the processing, which override the
                    interests, rights and freedoms of the individual;
                </li>
                <li>the processing is for the establishment, exercise or defence of legal claims.</li>
            </ul>

            <p>To perform an action on request Crassula should verify the identity of the natural person making this
                request. The additional information necessary to confirm the identity of the data subject should be
                requested.</p>
            <p>Crassula must stop processing personal data for direct marketing purposes as soon as it receives an
                objection. There are no exemptions or grounds to refuse. Crassula must deal with an objection to
                processing for direct marketing at any time and free of charge.</p>
            <p>Crassula must inform individuals of their right to object “at the point of first communication” and in
                Crassula's privacy notice (Privacy policy). This must be “explicitly brought to the attention of the
                data subject and shall be presented clearly and separately from any other information”.</p>
            <p>Information on action to the individual must be provided without delay and at the latest within one month
                of receipt of the request.</p>
            <p>Crassula will be able to extend the period of compliance by a further two months where necessary. If this
                is the case, Crassula will inform the individual within one month of the receipt of the request and
                explain why the extension is necessary.</p>
            <p>Where Crassula is not taking action in response to a request for object, it must explain why to the
                individual without delay and at the latest within one month of receipt of the request, informing him or
                her of his or her right to complain to the supervisory authority and to a judicial remedy.</p>

            <h3>8. Rights related to automated decision making including profiling</h3>
            <p>The data subject shall have the right not to be subject to a decision based solely on automated
                processing, including profiling, which produces legal effects concerning him or her or similarly
                significantly affects him or her.</p>
            <p>Automated individual decision-making is a decision made by automated means without any human
                involvement.</p>
            <p>The GDPR restricts companies from making solely automated decisions, including those based on profiling,
                that have a legal or similarly significant effect on individuals.</p>
            <p>The restriction only covers solely automated individual decision-making that produces legal or similarly
                significant effects. These types of effect are not defined in the GDPR, but the decision must have a
                serious negative impact on an individual to be caught by this provision.</p>
            <p>A legal effect is something that adversely affects someone’s legal rights. Similarly significant effects
                are more difficult to define but would include, for example, automatic refusal of an online credit
                application, and e-recruiting practices without human intervention.</p>
            <p>Crassula must:</p>

            <ul>
                <li>provide meaningful information about the logic involved in the decision-making process, as well as
                    the significance and the envisaged consequences for the individual;
                </li>
                <li>use appropriate mathematical or statistical procedures;</li>
                <li>ensure that individuals can:</li>
                <li>obtain human intervention;</li>
                <li>express their point of view;</li>
                <li>obtain an explanation of the decision and challenge it;</li>
                <li>put appropriate technical and organisational measures in place, so that it can correct inaccuracies
                    and minimise the risk of errors;
                </li>
                <li>secure personal data in a way that is proportionate to the risk to the interests and rights of the
                    individual, and that prevents discriminatory effects.
                </li>
            </ul>

            <h2>Responsibilities</h2>
            <p>Everyone who works for or with Crassula has some responsibility for ensuring data is collected, stored
                and handled appropriately. Each team that handles personal data must ensure that it is handled and
                processed in line with this policy and data protection principles.</p>

            <h2>Data Protection Officer</h2>
            <p>Contact details for the Data Protection Officer and staff are as follows:</p>
            <p>
                <em>
                    Crassula, Data Protection Officer, <br>
                    Address: Eksporta iela 12, office 156, Riga, LV-1045, Latvia <br>
                    E-mail: dpo@crassula.io
                </em>
            </p>

            <h2>Transfers to Third Parties</h2>
            <p>We will share personal data information with third party service providers, who are acting on behalf of
                Crassula as our data processor.</p>
            <p>Crassula uses trusted third parties, who assist us in operating our website, conducting our business, or
                servicing our customers, so long as those parties agree to keep this information confidential. We may
                also disclose information when we believe disclosure is appropriate to comply with the law, enforce our
                policies, or protect ours or others’ rights, property, or safety.</p>
            <p>Where external companies are used to process personal data on behalf of Crassula, responsibility for the
                security and appropriate use of that data remains with Crassula.</p>

            <h2>International Transfer of Personal Data</h2>
            <p>In some cases Crassula may transfer personal data to third countries. Crassula is committed to adequately
                protecting personal data information regardless of where the data resides and to providing appropriate
                protection for information where such data is transferred outside of the EEA. When transferring one of
                the following conditions should be met:</p>

            <ul>
                <li>the data subject has given consent to the transfer;</li>
                <li>the transfer is necessary for the performance of the contract between the data subject and data
                    controller;
                </li>
                <li>the transfer is necessary for the conclusion of the contract between the data subject and data
                    controller;
                </li>
                <li>the transfer is necessary or legally required due to important public interest grounds;</li>
                <li>the transfer is necessary in connection with the exercise of the defence of legal
                    proceedings/obtaining legal advice;
                </li>
                <li>the transfer is necessary to protect the vital interests of the data subject.</li>
            </ul>

            <h2>Disclosing data for other reasons</h2>
            <p>In certain circumstances, the GDPR allows personal data to be disclosed to law enforcement agencies
                without the consent of the data subject.</p>
            <p>Under these circumstances, Crassula will disclose requested data. However, as a data controller the
                organisation will ensure the request is legitimate, seeking assistance from the Board and from the
                company’s legal advisers where necessary.</p>

            <h2>Personal data breaches</h2>
            <h3>General information</h3>
            <p>A personal data breach means a breach of security leading to the accidental or unlawful destruction,
                loss, alteration, unauthorised disclosure of, or access to, personal data transmitted, stored or
                otherwise processed. This includes breaches that are the result of both accidental and deliberate
                causes. It also means that a breach is more than just about losing personal data.</p>
            <p>Types of personal data breaches:</p>

            <ul>
                <li>“Confidentiality breach” - where there is an unauthorised or accidental disclosure of, or access to,
                    personal data.
                </li>
                <li>“Integrity breach” - where there is an unauthorised or accidental alteration of personal data.</li>
                <li>“Availability breach” - where there is an accidental or unauthorised loss of access to, or
                    destruction of, personal data.
                </li>
            </ul>

            <h3>Notification timeframes</h3>
            <p>In the case of a personal data breach, Crassula as the controller shall without undue delay and, where
                feasible, not later than 72 hours after having become aware of it, notify the personal data breach to
                the supervisory authority, unless the personal data breach is unlikely to result in a risk to the rights
                and freedoms of natural persons. Where the notification to the supervisory authority is not made within
                72 hours, it shall be accompanied by reasons for the delay.</p>

            <h2>General staff guidelines</h2>

            <ul>
                <li>The only people able to access data covered by this policy should be those who need it for their
                    work.
                </li>
                <li>Data should not be shared informally. When access to confidential information is required,
                    employees/authorised persons can request it from their line managers.
                </li>
                <li>Crassula will provide training to all employees to help them understand their responsibilities when
                    handling data.
                </li>
                <li>Persons, whom this policy apply to, should keep all data secure, by taking sensible precautions and
                    following the guidelines below.
                </li>
                <li>In particular, strong passwords must be used and they should never be shared.</li>
                <li>Data should not be disclosed to unauthorised people, either within the company or externally.</li>
                <li>Persons, whom this policy apply to, should sign the Declaration of acceptance of Personal Data
                    Protection requirements set by this Data Protection Policy.
                </li>
            </ul>

            <h2>Monitoring and Revising the Data Protection Policy</h2>
            <p>Data Protection Officer is responsible for keeping this Data Protection Policy up to date. DPO, in
                conjunction with the relevant management team, will monitor the following factors to anticipate when the
                Data Protection Policy objectives and provisions need revision:</p>
            <p>Findings of any deficiencies in the current version of Data Protection Policy and extension of it to any
                relevant provisions that were not previously covered or documented by this policy.</p>
            <p>Changes in the GDPR or other Union or Member State data protection provisions.</p>
            <p>Issuing of recommendations or additional guidances to specific Articles of the GDPR by the supervisory
                authority or the European Data Protection Board.</p>
            <p>Regardless of whether these factors took place, DPO shall revise and declare the policy comply with the
                relevant legislation at least once per year on the scheduled base agreed.</p>

        </div>
    </section>

{% endblock %}
