{% extends 'layouts/base.html' %}
{% load static %}

{% block seo_title %}Privacy Policy{% endblock %}
{% block seo_description %}This Privacy Policy explains what personal data Crassula collects from you, through our
    interactions with you or your organisation and through our website, products or services, and how we use
    it.{% endblock %}

{% block structured_data %}
    <!-- Structured Data -->
    <!-- BreadcrumbList -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Crassula",
        "item": "https://crassula.io/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Privacy Policy"
      }]
    }
    </script>
{% endblock %}

{% block content %}
    <!-- Hero section with layer parallax gfx -->
    <section class="d-flex align-items-center position-relative overflow-hidden py-5 mb-lg-5 mb-3 bg-dark">
        <div class="container py-5">
            <div class="row align-items-center flex-lg-nowrap py-lg-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <div class="mx-lg-0 mx-auto pt-2" style="max-width: 640px;">
                        <h1 class="display-5 pb-lg-3 text-light">Privacy Policy</h1>
                        <div>
                            Last updated: May 24, 2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-5">
            <p>SIA Flex Solutions, Cratech OU and Crassula LTD both trading as ‘Crassula’. ("we" or "us") strives to
                protect your privacy and safeguard any personal data provided to it.</p>
            <p>The terms "you," "your," and "yours" refer to the customers or customers’ representatives using our
                website and services.</p>
            <p>The term ‘customer’s representative’ refers to directors, legal representatives such as the holders of a
                power of attorney, customer’s employee such as IT specialist, Security specialist, etc. as set out in
                the Agreement with Crassula. This policy sets out how we will carefully treat your personal
                information.</p>
            <p>This Privacy Policy explains what personal data Crassula collects from you, through our interactions with
                you or your organisation and through our website, products or services, and how we use it. It also
                describes your choices regarding access, correction and erasure of your personal information.</p>

            <h2>What personal data do we collect?</h2>
            <p><strong>Browsing our site</strong>: We collect information about your computer and about your visits to
                and use of this website (including your IP address, geographical location, browser type and version,
                operating system, referral source, length of visit, page views, and website navigation).</p>
            <p><strong>Cookies</strong>: We collect cookies, which are small files that a site or its service provider
                transfers to your computer’s hard drive through your Web browser (with your permission) that enables the
                sites or service providers systems to recognize your browser and capture and remember certain
                information.</p>
            <p><strong>Contact form</strong>: We have contact forms on our website to allow you to get in touch with us
                for a variety of reasons. This form requests for your name, email, company name, and there’s a free text
                field that allows you to add your questions and queries.</p>
            <p><strong>Entering into agreement with Crassula</strong>: When your organisation enters into an agreement
                with Crassula to provide products or services, we will collect additional information, which is
                necessary for the performance of the contract and providing service updates related to the
                product/service Crassula is providing. This will include address, contact number.</p>

            <h2>What do we use your information for?</h2>
            <p>Internal uses: The email address that you provide via Contact form may be used to send you information
                and updates related to your specific interests in our product or services.</p>
            <p>We use the information provided in Agreement with Crassula for everyday internal business purposes to
                provide our services, maintain your Crassula system access, and provide customer service. We provide
                access to personal information about our customers and customers’ representatives only to those
                employees who require it as part of their job to provide our services and provide customer service.</p>
            <p>We use information about your computer and about your visits to and use of our website to understand how
                our website is performing: how many users visit the site, where users drop out of the site, how long
                users spend on the site, target countries, this is all collected to identify areas to improve the site
                and make it more engaging for visitors.</p>
            <p>Disclosure to Third Parties: Crassula shares certain personal information of customers to run our
                everyday business. Crassula does not sell or rent any of your personal information. Crassula will not
                share any of your personal information with third parties except in the circumstances described below or
                with your permission.</p>
            <p>We may share your personal information with our business partners, service vendors, suppliers, or other
                authorized third-party contractors who provide services or perform marketing or other functions on our
                behalf to provide a requested service. We will only provide these third parties with the minimum amount
                of personal information necessary to complete the requested service. We will require that these third
                parties keep your personal information confidential and not use your personal information except for the
                limited purpose of completing the requested service.</p>
            <p>We will disclose your personal information when we are obliged by law to do so or when we suspect
                fraudulent or criminal activities. A variety of laws or government regulations may require us to
                disclose nonpublic personal information about you to respond to court orders or legal investigations. In
                these instances, we will make commercially reasonable efforts to release only the information required
                by law, subpoena, legal process, or court order.</p>
            <p>We may also disclose your personal information when otherwise permitted by applicable privacy laws when
                disclosure is needed to enforce our rights arising out of any agreement, transaction, or relationship
                with you.</p>
            <p>We share required information with your agent or legal representative such as the holder of a power of
                attorney that you grant, or a guardian appointed for you.</p>
            <p>As with any other business, it is possible that in the future Crassula could merge with or be acquired by
                another company. If such an acquisition occurs, the replacement company would have access to personal
                information maintained by Crassula. This will include customer and/or customer’s information, but it
                will continue to be bound by this Privacy Policy unless and until it is amended. You will be notified
                via a prominent notice on our site or by e-mail on any such change in ownership or control of your
                personal information.</p>
            <p>Crassula may also disclose personal information to financial service providers with which it has joint
                agreements. These are formal agreements between unaffiliated third parties that are combined to market
                products or services to you. Crassula will require such third parties to maintain confidentiality of
                your personal information.</p>

            <h2>Retention Periods</h2>
            <p>We will retain your personal information for Crassula system access management and service provision
                purposes whilst we have a relationship with your organisation.</p>
            <p>In some cases, when we still have a relationship with your organisation but you’re no longer its
                representative you may direct us to stop storing your personal information, you may request that we do
                so by contacting us at
                <a href="mailto:dpo@crassula.io">dpo@crassula.io</a>.</p>

            <h2>Children</h2>
            <p>Our policy is not to knowingly provide Services to or collect personal data and information from persons
                under 18 years of age. Our website is not directed or intended for children under this age. If you are
                under 18 years of age, you should not provide personal data or information on our website. If you are
                the parent or guardian of a person under the age of 18 whom you believe has disclosed personal data or
                information to us, please immediately contact us at <a href="mailto:dpo@crassula.io">dpo@crassula.io</a>
                so that we may delete and remove such person's data from our system.</p>

            <h2>Security</h2>
            <p>Any data and information provided to us is encrypted using advanced technologies, and our website has
                security measures in place to protect against the loss, misuse and alteration of any data and
                information received by us. We continuously strive to safeguard the confidentiality of any such data and
                information and improve our security measures. However, no method of transmission over the Internet or
                method of electronic storage is 100% secure. While we strive to use commercially reasonable means to
                protect your personal information, we cannot guarantee absolute security.</p>

            <h2>Your rights</h2>
            <p><strong>Right to access</strong>: You have a right to know what personal information we hold on you and
                for what purpose. You are able to raise a Data Subject Access Request with us; these requests must be
                made in writing either by letter or email with photo identification to confirm your identity. To request
                Data Subject Access Request form, please contact us at e-mail <a href="mailto:dpo@crassula.io">dpo@crassula.io</a>.
                Postal requests should be sent to: Data Protection Officer, Crassula, Eksporta iela 12, office 156,
                Riga, LV-1045, Latvia.</p>
            <p><strong>Right to rectification</strong>: You the right to obtain from us the rectification of inaccurate
                personal information concerning you. At your request we will rectify or complete incomplete information
                we hold about you. To request data rectification, please contact us at e-mail
                <a href="mailto:dpo@crassula.io">dpo@crassula.io</a>.</p>
            <p><strong>Right to erasure (right be forgotten)</strong>: You have the right to obtain from us the erasure
                of personal information we hold about you if it is no longer necessary for us to provide your
                organisation with Services as set out in Agreement with Crassula or if you’re no longer a representative
                of organisation. To request data erasure, please contact us at e-mail <a href="mailto:dpo@crassula.io">dpo@crassula.io</a>.
            </p>

            <h2>Your right to complain</h2>
            <p>If you have a complaint about our use of your information, you can contact the Data State Inspectorate in
                Latvia via their website at
                <a href="https://www.dvi.gov.lv/en/">https://www.dvi.gov.lv/en/</a> or write to them at:</p>
            <p>
                <em>
                    Data State Inspectorate of Republic of Latvia <br>
                    Blaumana Street 11/13-11,<br>
                    Riga, LV-1011<br>
                    Latvia<br>
                    E-mail: info@dvi.gov.lv
                </em>
            </p>
            <p>or Data Protection Inspectorate in Estonia via their website
                <a href="https://www.aki.ee/en/contacts">https://www.aki.ee/en/contacts</a>
                or write them at:</p>
            <p>
                <em>
                    19 Väike-Ameerika St.,<br>
                    10129 Tallinn<br>
                    Estonia<br>
                    E-mail: info@aki.ee
                </em>
            </p>

            <h2>Subordination to Terms of Use</h2>
            <p>This Privacy Policy is incorporated into and subject to our Terms of Use as an integral part thereof. In
                case of any conflict between any provision of our Terms of Use and the content of this Privacy Policy,
                the provisions of our Terms of Use shall govern.</p>

            <h2>Amendments to Privacy Policy</h2>
            <p>This Privacy Policy may be updated from time to time, and we will post on the website a notice of any
                material amendment of this policy. If you do not agree with any term in this Privacy Policy, or any
                change to it, please cease using our Services and stop providing us with additional personal information
                or purchasing Products or Services. Your continued use of our Services after this Privacy Policy has
                been amended will be deemed to be your continued acceptance of the terms of this Privacy Policy, as
                amended.</p>

            <h2>Contacting Us</h2>
            <p>If you have any questions regarding this Privacy Policy, please contact us using the information
                below:</p>
            <p>
                <em>
                    Crassula <br>
                    Data Protection Officer<br>
                    Eksporta iela 12, office 156,<br>
                    Riga, LV-1045<br>
                    Latvia<br>
                    E-mail: dpo@crassula.io
                </em>
            </p>
        </div>
    </section>

{% endblock %}
