{% extends 'layouts/base.html' %}
{% load static %}

{% block seo_title %}Terms of Use{% endblock %}
{% block seo_description %}
    Please make sure you fully understand the contents of these Terms of Use before accessing or using Crassula Website
    and/or before using any Service offered on the Website.
{% endblock %}

{% block structured_data %}
    <!-- Structured Data -->
    <!-- BreadcrumbList -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Crassula",
        "item": "https://crassula.io/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Terms of Use"
      }]
    }
    </script>
{% endblock %}

{% block content %}
    <!-- Hero section with layer parallax gfx -->
    <section class="d-flex align-items-center position-relative overflow-hidden py-5 mb-lg-5 mb-3 bg-dark">
        <div class="container py-5">
            <div class="row align-items-center flex-lg-nowrap py-lg-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <div class="mx-lg-0 mx-auto pt-2" style="max-width: 640px;">
                        <h1 class="display-5 pb-lg-3 text-light">Terms of Use</h1>
                        <div>
                            Last updated: May 24, 2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-5">
            <p>PLEASE READ CAREFULLY BEFORE USING THIS WEBSITE: The following terms of use (“Terms of Use”) govern your
                use of this Website located at <a href="{% url 'landings:home' %}">https://crassula.io</a> (the
                “Website”) and any service offered on the Website
                (“Service”) which are operated by SIA Flex Solutions and/or Cratech OU and/or Crassula LTD both trading
                as ‘Crassula’ (“Crassula”, “we” or “us”).</p>
            <p>Please make sure you fully understand the contents of these Terms of Use before accessing or using
                Crassula Website and/or before using any Service offered on the Website. If you use any service offered
                on the Website, the relevant Services Agreement/Contract will additionally apply to your use of such
                Service. If there is any conflict between these Terms of Use and additional terms of relevant Service
                Agreement/Contract, then the additional terms apply in relation to the relevant Service.</p>
            <p>If you are entering into these Terms of Use and/or Service Agreement/Contract on behalf of an entity, you
                are binding such entity to these Terms of Use, you represent that you have the actual authority to bind
                such entity to these Terms of Use, and references to “you” mean such entity.</p>
            <p>By using the Website and/or Service, you represent that you are at least 18 years of age or older. Our
                website is not directed or intended for children under this age. If you are under 18 years old, you may
                not use the Website and/or Service.</p>
            <p>By accessing and using the Website and/or Service, you acknowledge that you have read and agree to be
                bound by these Terms of Use and our Privacy Policy located at
                <a href="{% url 'pages:privacy' %}">https://crassula.io/privacy/</a>.</p>
            <p>If you do not agree with any of the terms of these Terms of Use or Privacy Policy, do not use the Website
                and/or Service and immediately leave it.</p>

            <h2>Changes to the Terms of Use</h2>
            <p>From time to time, Crassula may change, remove, or add to the Terms of Use, and reserves the right to do
                so in its discretion. In that case, we will post updated Terms of Use and indicate the date of revision.
                If we feel the modifications are material, we will make reasonable efforts to post a prominent notice on
                the Website and to notify you. All new and/or revised Terms of Use take effect immediately and apply to
                your use of the Website and/or Services from that date on, except that material changes will take effect
                30 days after the change is made and identified as material. Your continued use of the Website and/or
                Service after new and/or revised Terms of Use are effective indicates that you have read, understood,
                and agreed to those Terms of Use.</p>

            <h2>Website access, Restrictions on use, reservation of rights</h2>
            <p>You agree to use the Website only for lawful purposes.</p>
            <p>The use of the Website is intended for your personal use and not for any commercial use. Unless
                specifically stated otherwise with regard to a specific Service, you may not resell Services.</p>
            <p>You may not post on or transmit through the Website any content, in whatever format, that is (i)
                defamatory, unlawful, harassing, abusive, obscene, threatening, hateful, sexist or racist; (ii) violates
                any person's privacy rights; (iii) violates any applicable law, statute, regulations or rules; or (iv)
                constitutes SPAM or other inappropriate network conduct.</p>
            <p>You may not impersonate any person or entity, including but not limited to any of our officers,
                directors, employees or representatives, or falsely state or otherwise misrepresent your affiliation
                with any person or entity.</p>
            <p>You may not harvest, collect, store or use information about the users of the Website, the Content (as
                defined below) or other information posted on the Website.</p>
            <p>"Content" shall mean in these Terms of Use any trademarks, service marks and/or trade names used by us on
                the Website from time to time, and other content posted on the Website, including, but not limited to,
                images, pictures, graphics, photographs, animations, videos, music, audio and text, available through or
                posted on the Website.</p>
            <p>We reserve, at our sole discretion, the right to refuse any request by you to purchase any Product and/or
                Service.</p>
            <p>Notwithstanding anything stated or implied to the contrary in these Terms of Use, at any time, without
                prior notice to you and without derogating from our other rights under these Terms of Use, we may
                terminate your access to the Website and/or Service if we suspect or believe that you are in breach of
                any of the terms and conditions of these Terms of Use, or that you may be engaging in or have engaged in
                fraudulent, unlawful, or improper activity.</p>

            <h2>License</h2>
            <p>We hereby grant you a limited, personal, non-exclusive, non-transferable, revocable, license to access
                and make use of the Website.</p>
            <p>You are not permitted to and will not permit or assist others to:</p>

            <ul>
                <li>copy, adapt, modify, create derivative works based on, translate or otherwise modify the Website or
                    the Content;
                </li>
                <li>enter, access or attempt to enter or access or otherwise bypass the applicable security system or
                    interfere in any way (including but not limited to robots and similar devices) with the Website or
                    the Content, or attempt to make any changes to the Website or the Content and/or any features or
                    components thereof.
                </li>
            </ul>

            <p>You hereby acknowledge and agree that the Content as well as any patent, copyright, design rights,
                database rights, applications for any of the above, moral rights, know-how, trade secrets, domain names,
                URL, or any other intellectual or industrial property rights (and any licenses in connection with any of
                the same), whether or not registered or capable of registration, and whether subsisting in any specific
                country or countries or any other part of the world, which belong to us or our affiliates, partners,
                suppliers or licensors ("Proprietary Rights") are exclusively owned by us or our affiliates, partners,
                suppliers or licensors, and we and/or such entities, as applicable, reserve all rights to the
                Proprietary Rights. You hereby acknowledge that by accessing and using the Website you obtain no rights
                in or to the Proprietary Rights other than those expressly granted under this Terms of Use.</p>

            <h2>Linked Websites and Services</h2>
            <p>The Website and Service may contain links to and integrations with third party websites and services, and
                you agree that Crassula provides links to and integrations with such websites and services solely as a
                convenience and has no responsibility for the content or availability of such websites or services, and
                that Crassula does not endorse such websites or services (or any products or other services associated
                therewith). Your use of such websites and services will be subject to the terms applicable to each such
                website and service.</p>

            <h2>General Data Protection Regulations</h2>
            <p>Crassula as a Data Controller of personal data: Crassula may collect, process and store your personal
                information in order to provide you with its Service or access to the Website. Additional information
                about such processing activities and your rights can be found in our Privacy Policy at
                <a href="{% url 'pages:privacy' %}">https://crassula.io/privacy/</a>.</p>
            <p>Crassula as a Data Processor of personal data: As a Crassula customer, you are a Data Controller in
                respect of any personal data obtained and used in course of providing Services under the relevant
                Service Agreement/Contract and Crassula is acting as your Data Processor for your users.</p>
            <p>“Personal Data” shall mean data which relate to a living individual who can be identified from those
                data, or from those data and other information which is in the possession of, or is likely to come into
                the possession of, the data controller, and includes any expression of opinion about the individual and
                any indication of the intentions of the data controller or any other person in respect of the
                individual.</p>
            <p>Crassula will implement appropriate technical and organisational measures to protect the personal data
                that is processed against accidental destruction or loss or unlawful forms of processing thereby
                providing an adequate level of security that gives regard to the: (a) technical possibilities available;
                (b) cost of implementing the security measures; (c) special risks that exist in the processing of
                Personal Data; and (d) sensitivity of the personal data being processed.</p>
            <p>Where the Crassula intends engaging a subcontractor, it shall ensure that:</p>

            <ul>
                <li>any personal data intended or envisaged to be transferred to such subcontractor may be lawfully
                    transferred in terms of the GDPR before any transfers of personal data take place;
                </li>
                <li>terms substantially equivalent to those provided by the relevant Service Agreement/Contract are
                    imposed on such subcontractor.
                </li>
            </ul>

            <p>Crassula will, according to Data Controller’s requirements and with or without use of automatic
                facilities, collect, record, classify, accumulate, hold, rectify (update, modify), mine, use,
                depersonalize, block, delete, destruct personal data of your customers. Crassula will block, rectify or
                destroy the personal data upon a relevant request (instruction) from the Data Controller and by
                deadlines prescribed by such request (instruction).</p>
            <p>If you have additional questions in regards of personal data protection you may contact us at e-mail
                <a href="mailto:dpo@crassula.io">dpo@crassula.io</a>. Postal requests should be sent to: Data Protection
                Officer, Crassula, Eksporta iela 12,
                office 156, Riga, LV-1045, Latvia.</p>
            <h2>Your responsibilities</h2>
            <p>You are solely responsible to determine whether the access and use of the Website and/or the Content by
                you, and the purchase of Services, are permitted under any applicable laws, rules and regulations.</p>
            <p>You agree to abide by all applicable local and international laws, rules and regulations, including
                without limitation with regard to copyright and intellectual property rights, and privacy laws.</p>
            <p>You are solely responsible for all acts or omissions associated with your access and use of the Website
                and/or Service, and the access and use of it by anyone on your behalf.</p>
            <p>You shall not transfer in any way whatsoever your rights under these Terms of Use, without our prior
                written consent, which may be given in our sole discretion.</p>
            <p>You are solely responsible for the supply and maintenance of all of the computer equipment and
                telecommunications networks and internet access services that you need to use in order to access the
                Website and/or Service. We will not be liable in any way whatsoever for any losses caused to you by the
                internet or any telecommunication service provider which you have engaged in order to access the Website
                and/or Service.</p>
            <p>You will not commit any acts or engage in any conduct that is or that could be reasonably expected to be
                damaging to our reputation.</p>
            <p>You will fully indemnify, defend and hold us and our officers, directors, employees, agents, contractors
                and suppliers harmless on demand from and against any and all losses, costs, expenses, claims, demands,
                liabilities and damages (including legal fees), however caused, that may arise as a result of or in
                connection with (a) access and use of the Website and/or Service by you or by anyone else on your
                behalf; or (b) breach by you of any of the terms and provisions of these Terms of Use.</p>

            <h2>Warranty Disclaimer</h2>
            <p>THE WEBSITE, WEBSITE CONTENT AND SERVICE ARE PROVIDED STRICTLY ON AN “AS IS” AND “AS AVAILABLE” BASIS,
                AND CRASSULA MAKES NO WARRANTY THAT THE WEBSITE, SERVICE OR WEBSITE CONTENT ARE COMPLETE, SUITABLE FOR
                YOUR PURPOSE, OR ACCURATE, AND ON BEHALF OF ITSELF AND ITS LICENSORS, CRASSULA HEREBY EXPRESSLY
                DISCLAIMS ANY AND ALL IMPLIED, STATUTORY OR OTHER WARRANTIES WITH RESPECT TO THE WEBSITE, WEBSITE
                CONTENT AND SERVICE, OR THE AVAILABILITY OF THE FOREGOING, INCLUDING, WITHOUT LIMITATION, THE IMPLIED
                WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON INFRINGEMENT. THE ENTIRE
                RISK AS TO RESULTS OBTAINED THROUGH USE OF THE WEBSITE, SERVICE AND/OR THE WEBSITE CONTENT RESTS WITH
                YOU AND CRASSULA MAKES NO REPRESENTATION OR WARRANTY THAT THE AVAILABILITY OF THE WEBSITE AND OR THE
                SERVICE WILL BE UNINTERRUPTED, OR THAT THE WEBSITE, SERVICE AND/OR THE WEBSITE CONTENT WILL BE ERROR
                FREE OR THAT ALL ERRORS WILL BE CORRECTED.</p>
            <h2>Limitation of Liability</h2>
            <p>IN NO EVENT SHALL WE OR ANY OF OUR AFFILIATES AND RELATED PARTIES, BE LIABLE TO YOU FOR ANY DIRECT, CONSEQUENTIAL, INDIRECT, INCIDENTAL OR SPECIAL DAMAGE OR LOSS OF ANY KIND, INCLUDING WITHOUT LIMITATION LOSS OF BUSINESS, PROFITS, REVENUE, CONTRACTS OR ANTICIPATED SAVINGS, OR LOSS OR DAMAGE ARISING, INCLUDING WITHOUT LIMITATION, FROM LOSS, DAMAGE OR CORRUPTION OF ANY DATA, OR THE PROVISION OF PRODUCTS, SERVICES OR CUSTOMER ASSISTANCE, EXCEPT AS STATED IN THIS AGREEMENT, WHETHER OR NOT THE POSSIBILITY OF SUCH LOSS OR DAMAGE WAS FORESEEABLE OR HAS BEEN NOTIFIED TO US AHEAD OF TIME.</p>
            <p>WITHOUT DEROGATING FROM ANY OF THE FOREGOING, THE MAXIMUM AGGREGATE LIABILITY OF CRASSULA FOR ANY LIABILITY ARISING UNDER OR IN CONNECTION WITH THIS AGREEMENT, TO YOU OR ANY THIRD PARTY HOWSOEVER ARISING (INCLUDING BY WAY OF NEGLIGENCE OR ANY OTHER THEORY OF LAW), SHALL BE LIMITED TO THE AGGREGATE AMOUNT PAID BY YOU FOR THE PURCHASE OF THE PRODUCT OR SERVICES DIRECTLY GIVING RISE TO SUCH LIABILITY.</p>
        </div>
    </section>

{% endblock %}
