{% extends 'layouts/base.html' %}

{% block seo_title %}Marketplace{% endblock %}

{% block seo_description %}

{% endblock %}

{% block content %}

    <!-- Hero section with layer parallax gfx -->
    <section class="d-flex align-items-center position-relative overflow-hidden py-5 mb-lg-5 mb-3 bg-dark">
        <div class="container pt-4 pb-lg-5">
            <div class="row align-items-center flex-lg-nowrap py-3">
                <div class="col text-center text-lg-start">
                    <div class="mx-lg-0 mx-auto pt-2" style="max-width: 748px;">
                        <a href="{% url 'landings:home' %}" class="nav-link p-0 mb-lg-5 mt-5 mb-4 text-white opacity-60">
                            <i class="bx bx-chevron-left me-1"></i>
                            Go to home page
                        </a>
                        <h1 class="display-5 mb-3 pt-2 text-light">Marketplace</h1>
                        <p class="mb-0 fs-lg text-white opacity-70">Seeking cost-effective ways to operate your
                            financial institution more efficiently or start your banking business from scratch with a
                            customizable progressive system?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content -->
    <section class="container mb-lg-5 mb-3 py-lg-5 py-4">
        <div class="row">

            <!-- Sidebar (Offcanvas below lg breakpoint) -->
            <aside class="col-lg-3">
                <div class="offcanvas-lg offcanvas-start offcanvas-sticky start-0" id="categories-sidebar" tabindex="-1">

                    <!-- Header -->
                    <div class="offcanvas-header d-flex mb-lg-4 p-lg-0">
                        <h3 class="offcanvas-title fs-4">
                            <i class="bx bx-menu fs-2 align-middle mt-n1 me-1"></i>
                            <span>Categories</span>
                        </h3>
                        <button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#categories-sidebar"></button>
                    </div>

                    <!-- Body -->
                    <div class="offcanvas-body pt-lg-2">
                        <h6 class="mb-3 pb-1">
                            <a href="{% url 'marketplace:main' %}">All categories</a>
                        </h6>
                        {% for category in categories %}
                        <h6 class="mb-3 pb-1">
                            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                        </h6>
                        {% endfor %}


                    </div>
                </div>
            </aside>
            <div class="col-lg-9">

                <!-- Items grid -->
                <div class="row row-cols-md-3 row-cols-sm-2 row-cols-1 g-md-4 g-3">

                    {% for object in object_list %}
                        <!-- Item -->
                        <div class="col">
                            <a href="{% url 'marketplace:app' slug=object.slug %}" class="card border-0 card-hover card-hover-secondary shadow-none h-100 p-3 text-body text-decoration-none">
                                <div class="card-body p-0">
                                    {% if object.logo %}
                                        <img src="{{ object.logo.url }}" alt="{{ object.name }} Logo" class="mb-3" height="40">
                                    {% endif %}

                                    {% if object.header %}
                                        <h5 class="card-title mb-2 pb-1">{{ object.header }}</h5>
                                    {% endif %}

                                    <p class="card-text mb-3">{{ object.small_description }}</p>
                                </div>
                                <div class="card-footer m-0 p-0 border-0">
                                    {% for feature in object.features.all %}
                                        <span class="badge bg-secondary">{{ feature.name }}</span>
                                    {% endfor %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <!-- CTA -->
    {% include 'landings/includes/cta/digital_bank.html' %}

{% endblock %}
