{% extends 'layouts/base.html' %}
{% load static %}

{% block seo_title %}White Label Card: Debit, Credit, Virtual{% endblock %}
{% block seo_description %}Enable a card-issuing program for your clients. Connect every issued card to a new or
    existing account within the Crassula banking platform.{% endblock %}

{% block structured_data %}
    <!-- Structured Data -->
    <!-- BreadcrumbList -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Crassula",
        "item": "https://crassula.io/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "White Label Card"
      }]
    }
    </script>
{% endblock %}

{% block content %}

    <!-- Hero section with layer parallax gfx -->
    <section class="d-flex align-items-center position-relative overflow-hidden pt-5 pb-lg-5 bg-dark min-vh-100">
        <div class="container pt-5">
            <div class="row gy-5 align-items-center py-lg-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <div class="mx-lg-0 mx-auto" style="max-width: 526px;">
                        <span class="badge bg-faded-light text-light fw-normal mb-4 py-2 px-3">Key Features</span>
                        <h1 class="display-3 text-light">Cards</h1>
                        <p class="text-light opacity-70 mt-3 mb-0 fs-lg">Enjoy the benefits of our versatile and
                            flexible card-issuing product. Your customers will be able to order and use their virtual
                            and plastic cards in web, iOS, and Android apps while you will have all the managing tools
                            in the back office Dashboard.</p>
                        <a href="{% url 'boarding:request_demo' %}" class="btn btn-lg btn-outline-accent rounded-pill mt-5">
                            Request demo
                            <i class="bx bx-chevron-right ms-1 lead"></i>
                        </a>
                    </div>
                </div>

                <!-- Layer parallax -->
                <div class="col-lg-6 ms-lg-0 ms-sm-5 ms-4 ps-lg-0 ps-sm-4 ps-3">
                    <div class="parallax position-relative ms-auto me-lg-0 me-auto pb-lg-0 mb-lg-0 mb-5 pb-sm-5" style="max-width: 636px;">
                        <div class="parallax-layer zindex-1" data-depth="-0.15">
                            <img src="{% static 'images/features/cards/hero/01.png' %}" alt="Cards">
                        </div>
                        <div class="parallax-layer zindex-2" data-depth="-0.3">
                            <img src="{% static 'images/features/cards/hero/02.png' %}" alt="Layer">
                        </div>
                        <div class="parallax-layer zindex-3" data-depth="0.15">
                            <img src="{% static 'images/features/cards/hero/03.png' %}" alt="Layer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Content -->
    <section class="container mt-lg-5 mt-md-4 mt-3 pt-5">
        <div class="d-flex flex-column mt-xxl-4 mt-xl-3 pt-xxl-2">

            <!-- Items grid -->
            <div class="order-lg-1 order-2 row row-cols-lg-3 row-cols-1 gy-md-5 gy-4 gx-xl-5 mb-lg-5 pb-xxl-2">

                <!-- Item -->
                <div class="col">
                    <h3 class="h2 mb-md-4 mb-3">Physical Cards</h3>
                    <p class="mb-0 fs-xl">Enable a card-issuing program for your clients. Connect every issued card to a
                        new or existing account within the Crassula banking platform. Process and control card delivery,
                        limits, and accountability using Crassula Back-Office Dashboard.</p>
                </div>

                <!-- Item -->
                <div class="col">
                    <h3 class="h2 mb-md-4 mb-3">Virtual Cards</h3>
                    <p class="mb-0 fs-xl">Virtual cards are the fastest way to pay online globaly for your customers.
                        Connect every card to a new or existing account within the Crassula banking platform. Process
                        and control card delivery, limits, and accountability.</p>
                </div>

                <!-- Item -->
                <div class="col">
                    <h3 class="h2 mb-md-4 mb-3">Business Cards</h3>
                    <p class="mb-0 fs-xl">Allow your SME clients flexible spending and expense control using specially
                        built card programs for Business. Process and control card delivery, limits, and accountability
                        using Crassula Back-Office Dashboard.</p>
                </div>
            </div>

            <!-- Illustration -->
            <div class="order-lg-2 order-1 rounded bg-secondary mb-lg-0 mb-md-5 mb-4 pb-md-0 pb-2">
                <img src="{% static 'images/features/cards/illustration-m.png' %}" alt="Illustration" class="d-md-block d-none">
                <img src="{% static 'images/features/cards/illustration-m.png' %}" alt="Illustration" class="d-md-none d-block">
            </div>
        </div>
    </section>


    <!-- Features list -->
    <section class="container py-lg-5 py-4">

        <!-- Item -->
        <div class="my-xxl-4 my-xl-3 my-lg-0 my-md-4 my-3 py-lg-5 py-4">
            <div class="row gy-4 align-items-lg-center">
                <div class="col-md-6">
                    <div class="rounded-3 bg-secondary">
                        <img src="{% static 'images/features/cards/01.png' %}" alt="Illustration">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <h2 class="h1 mb-md-4 mb-3">Card Issuing</h2>
                    <p class="mt-2 mb-0 pt-md-1 fs-xl">Choose the card issuer and appropriate program for your business
                        needs. Crassula offers several different card issuers working in the EU, UK, and Globally.</p>
                    <p class="mt-2 mb-0 pt-md-1 fs-xl">Control and manage the card-issuing process from the banking
                        software where all business activity happens.</p>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="my-xxl-4 my-xl-3 my-lg-0 my-md-4 my-3 py-lg-5 py-4">
            <div class="row gy-4 align-items-lg-center">
                <div class="col-lg-5 col-md-6 order-md-1 order-2">
                    <h2 class="h1 mb-md-4 mb-3">Card Management</h2>
                    <p class="mt-2 mb-0 pt-md-1 fs-xl">Manage your integrated card product with maximum convenience and
                        speed. Set the rules for your customers to allow them to enjoy the card issued by your mobile
                        wallet built by Crassula.</p>
                </div>
                <div class="col-md-6 offset-lg-1 order-md-2 order-1">
                    <div class="rounded-3 bg-secondary">
                        <img src="{% static 'images/features/cards/02.png' %}" alt="Illustration">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- CTA -->
    {% include 'landings/includes/cta/digital_bank.html' %}
{% endblock %}
