{% extends 'layouts/base.html' %}
{% load static %}

{% block seo_title %}White Label Price Lists & Fees Software{% endblock %}
{% block seo_description %}Construct and define flexible price lists for your clients. A price list rule could
    be set as default for major customer groups or created for each fee, cashback program, and vault
    rate.{% endblock %}

{% block structured_data %}
    <!-- Structured Data -->
    <!-- BreadcrumbList -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Crassula",
        "item": "https://crassula.io/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "White Label Price Lists & Fees"
      }]
    }
    </script>
{% endblock %}


{% block content %}

    <!-- Hero section with layer parallax gfx -->
    <section class="d-flex align-items-center position-relative overflow-hidden pt-5 pb-lg-5 bg-dark min-vh-100">
        <div class="container pt-5">
            <div class="row gy-5 align-items-center py-lg-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <div class="mx-lg-0 mx-auto" style="max-width: 526px;">
                        <span class="badge bg-faded-light text-light fw-normal mb-4 py-2 px-3">Key Features</span>
                        <h1 class="display-3 text-light">Price Lists &amp; Fees</h1>
                        <p class="text-light opacity-70 mt-3 mb-0 fs-lg">Working with different customer groups has
                            never been more flexible. Set different price lists and fees for local or international
                            customers, create subscription plans, levels, categories. Whatever scheme you choose to fuel
                            your business - Crassula will get you covered!</p>
                        <a href="{% url 'boarding:request_demo' %}" class="btn btn-lg btn-outline-accent rounded-pill mt-5">
                            Request demo
                            <i class="bx bx-chevron-right ms-1 lead"></i>
                        </a>
                    </div>
                </div>

                <!-- Layer parallax -->
                <div class="col-lg-6">
                    <div class="parallax position-relative ms-auto me-lg-0 me-auto pb-lg-0 mb-lg-0 mb-5 pb-sm-5" style="max-width: 636px;">
                        <div class="parallax-layer zindex-1" data-depth="0.15">
                            <img src="{% static 'images/features/prices/hero/01.png' %}" alt="Layer">
                        </div>
                        <div class="parallax-layer zindex-2" data-depth="0.3">
                            <img src="{% static 'images/features/prices/hero/02.png' %}" alt="Layer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Features list -->
    <section class="container py-lg-5 py-4">

        <!-- Item -->
        <div class="my-xxl-4 my-xl-3 my-lg-0 my-md-4 my-3 py-lg-5 py-4">
            <div class="row gy-4 align-items-lg-center pt-xxl-2">
                <div class="col-lg-5 col-md-6 order-md-1 order-2">
                    <h2 class="h1 mb-md-4 mb-3">FX Markup fees</h2>
                    <p class="mt-2 mb-0 pt-1 fs-xl">Crassula offers two variants of how to charge a currency exchange
                        fee: an individual exchange fee transaction or a markup fee. A markup fee is applied when the
                        exchange fee is included in the FX rate and not charged as a separate transaction.</p>
                </div>
                <div class="col-md-6 offset-lg-1 order-md-2 order-1">
                    <div class="rounded-3 bg-secondary">
                        <img src="{% static 'images/features/prices/01.png' %}" alt="Illustration">
                    </div>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="my-xxl-4 my-xl-3 my-lg-0 my-md-4 my-3 py-lg-5 py-4">
            <div class="row gy-4 align-items-lg-center pt-xxl-2">
                <div class="col-md-6">
                    <div class="rounded-3 bg-secondary">
                        <img src="{% static 'images/features/prices/02.png' %}" alt="Illustration">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <h2 class="h1 mb-md-4 mb-3">Subscription Plans</h2>
                    <p class="mt-2 mb-0 pt-1 fs-xl">A subscription plan is a set of pricing rules that apply to clients
                        for an extra charge to deliver less expensive fees for banking services. The client selects a
                        subscription plan from the list of suggested pricing options and pays the transition fee.
                        Further subscription payments charged according to the subscription plan fee set in the price
                        list.</p>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="my-xxl-4 my-xl-3 my-lg-0 my-md-4 my-3 py-lg-5 py-4">
            <div class="row gy-4 align-items-lg-center pt-xxl-2">
                <div class="col-lg-5 col-md-6 order-md-1 order-2">
                    <h2 class="h1 mb-md-4 mb-3">Construct and define flexible price lists</h2>
                    <p class="mt-2 mb-0 pt-1 fs-xl">Construct and define flexible price lists for your clients. A price
                        list rule could be set as default for major customer groups or created for each fee, cashback
                        program, and vault rate.</p>
                </div>
                <div class="col-md-6 offset-lg-1 order-md-2 order-1">
                    <div class="rounded-3 bg-secondary">
                        <img src="{% static 'images/features/prices/03.png' %}" alt="Illustration">
                    </div>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="my-xxl-4 my-xl-3 my-lg-0 my-md-4 my-3 py-lg-5 py-4">
            <div class="row gy-4 align-items-lg-center pt-xxl-2">
                <div class="col-md-6">
                    <div class="rounded-3 bg-secondary">
                        <img src="{% static 'images/features/prices/04.png' %}" alt="Illustration">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <h2 class="h1 mb-md-4 mb-3">Out of Hours Markups</h2>
                    <p class="mt-2 mb-0 pt-1 fs-xl">Earn more when scheduling FX markups for after-hours trades. This
                        option is available for our customers by setting up the price list.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- CTA -->
    {% include 'landings/includes/cta/digital_bank.html' %}

{% endblock %}
