{% extends 'layouts/base.html' %}
{% load static %}

{% block seo_title %}FinTech Blog{% endblock %}
{% block seo_description %}
    Our goal is to provide a comprehensive overview of the industry, as well as to educate and inform about
    fintech-related topics.
{% endblock %}


{% block structured_data %}
    <!-- Structured Data -->
    <!-- BreadcrumbList -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Crassula",
        "item": "https://crassula.io/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Blog"
      }]
    }
    </script>
{% endblock %}


{% block content %}

    <!-- Blog -->
    <section class="container mb-lg-5 mb-sm-3 py-5 mt-5 pt-5">
        <h1 class="display-5 mb-4 mt-5">Blog</h1>
        <div class="row">

            <!-- Posts grid -->
            <div class="col-lg-9">
                <div class="me-lg-3 pe-lg-5">
                    <div class="row row-cols-sm-2 row-cols-1 gy-sm-5 gy-4 pb-2">

                        {% for object in object_list %}
                            <!-- Blog Post -->
                            <div class="col">
                                <article class="card border-0 bg-transparent">
                                    <div class="position-relative overflow-hidden rounded-3">
                                        <a href="{{ object.get_absolute_url }}" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                                        <img src="{{ object.image.url }}" alt="{{ object.header }}">
                                    </div>
                                    <div class="card-body px-0">
                                        {#                                        <a href="#" class="badge fs-sm bg-secondary text-dark text-decoration-none mb-3">Crassula</a>#}
                                        <h3 class="h4 mb-4">
                                            <a href="{{ object.get_absolute_url }}">{{ object.header }}</a>
                                        </h3>
                                        <div class="d-flex align-items-center fs-sm text-muted">
                                            <div class="border-end pe-3 me-3">{{ object.date_edit }}</div>
                                            by
                                            <span class="nav-link ms-1 p-0">Kate Drozd</span>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <!-- Sidebar (Offcanvas below lg breakpoint) -->
            <aside class="col-lg-3">
                <div class="offcanvas-lg offcanvas-end" id="blog-sidebar" tabindex="-1">

                    <!-- Header -->
                    <div class="offcanvas-header border-bottom">
                        <h3 class="offcanvas-title fs-lg">Sidebar</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#blog-sidebar"></button>
                    </div>

                    <!-- Body -->
                    <div class="offcanvas-body">

                        <!-- Follow Us -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="mb-4">Follow Us</h5>
                                <a href="https://www.linkedin.com/company/crassula/" class="btn btn-icon btn-sm btn-secondary btn-linkedin me-2 mb-2" target="_blank" rel="nofollow">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                                <a href="https://www.facebook.com/crassula.io" class="btn btn-icon btn-sm btn-secondary btn-facebook me-2 mb-2" target="_blank" rel="nofollow">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                                <a href="https://twitter.com/crassu_la" class="btn btn-icon btn-sm btn-secondary btn-twitter me-2 mb-2" target="_blank" rel="nofollow">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                                <a href="https://www.instagram.com/crassula_io/" class="btn btn-icon btn-sm btn-secondary btn-instagram me-2 mb-2" target="_blank" rel="nofollow">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </div>
                        </div>

                        <!-- Advertising -->
                        <div class="card border-0 bg-dark bg-repeat-0 bg-position-bottom-end" style="min-height: 25rem; background-image: url({% static 'images/blog/banner.png' %}); background-size: 306px;">
                            <div class="card-body">
                                <h5 class="h3 mb-4 text-light">Create a digital bank in a matter of days with
                                    Crassula</h5>
                                <a href="{% url 'boarding:request_demo' %}" class="btn btn-sm btn-accent rounded-pill">Get
                                    started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>


    <!-- CTA -->
    {% include 'landings/includes/cta/digital_bank.html' %}

{% endblock %}
