{% extends 'layouts/base.html' %}
{% load static %}

{% block seo_title %}
    Build your own Neobank with Crassula and Clear.Bank
{% endblock %}

{% block seo_description %}
    With Clear.Bank's and Crassula's ready-made solution you will be able to offer your customers access to opening
    multicurrency accounts, making SWIFT transfers, and using UK banking payment schemes: Faster Payments, BACS, CHAPS.
{% endblock %}

{% block structured_data %}
    <!-- Structured Data -->
    <!-- BreadcrumbList -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Crassula",
        "item": "https://crassula.io/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Clear.Bank Solution"
      }]
    }
    </script>
{% endblock %}


{% block content %}

    <!-- Hero section with layer parallax gfx -->
    <section class="d-flex align-items-center position-relative overflow-hidden py-5 mb-lg-5 mb-3 bg-dark min-vh-100">
        <div class="container py-5">
            <div class="row align-items-center flex-lg-nowrap">
                <div class="col-lg-6 text-center text-lg-start">
                    <div class="mx-lg-0 mx-auto" style="max-width: 584px;">
                        <img src="{% static 'images/solution/hero/logo.png' %}" width="138" alt="Logo" class="d-block mx-lg-0 mx-auto mb-4">
                        <h1 class="display-5 pt-2 pb-lg-3 text-light">Build your own Neobank with Crassula's White
                            Label Software and Clear.Bank's banking infrastructure</h1>
                        <p class="fs-lg mb-lg-5 mb-4 pb-2 me-lg-5 pe-lg-2 text-light opacity-70">With Clear.Bank's
                            and Crassula's ready-made solution you will be able to offer your customers access to
                            opening multicurrency accounts, making SWIFT transfers, and using UK banking payment
                            schemes: Faster Payments, BACS, CHAPS. All of that in ready-to-market iOS, Android and Web
                            apps, managed in Backoffice Dashboard and launched within just several weeks.</p>
                        <a href="{% url 'boarding:request_demo' %}" class="btn btn-lg btn-accent rounded-pill">
                            Get in touch
                            <i class="bx bx-chevron-right ms-1 lead"></i>
                        </a>
                    </div>
                </div>

                <!-- Layer parallax -->
                <div class="parallax parallax-hero mt-lg-4 mt-5" style="max-width: 900px;">
                    <div class="parallax-layer" data-depth="0.05">
                        <img src="{% static 'images/solution/hero/01.png' %}" width="800" alt="Layer">
                    </div>
                    <div class="parallax-layer zindex-2" data-depth="0.1">
                        <img src="{% static 'images/solution/hero/02.png' %}" alt="Layer">
                    </div>
                    <div class="parallax-layer zindex-3" data-depth="0.25">
                        <img src="{% static 'images/solution/hero/03.png' %}" alt="Layer">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Boost your proposition with ClearBank -->
    <section class="container mt-md-2 my-lg-5 my-3 py-5">
        <div class="row align-items-center gy-4">
            <div class="col-lg-5 col-md-6">
                <h2 class="h1 mb-4 pb-2" style="max-width: 416px;">Boost your proposition with Clear.Bank</h2>
                <ul class="list-unstyled mb-0">
                    <li class="mt-4">
                        <i class="cri-protection mb-3 fs-4 text-dark"></i>
                        <p class="mb-0 fs-lg">Offer customers Financial Services Compensation Scheme (FSCS) protected
                            accounts by Clear.Bank banking licence.</p>
                    </li>
                    <li class="mt-4">
                        <i class="cri-transfer mb-3 fs-4 text-dark"></i>
                        <p class="mb-0 fs-lg">Multi-currency clearing lets your customers make secure international
                            transfers and gain access to foreign exchange.</p>
                    </li>
                    <li class="mt-4">
                        <i class="cri-bitcoin-circle mb-3 fs-4 text-dark"></i>
                        <p class="mb-0 fs-lg">Benefit from real-time, scalable accounts that seamlessly clear
                            transactions on and off ramp between fiat and crypto.</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 offset-lg-1">
                <img src="{% static 'images/solution/illustration.png' %}" alt="Illustration">
            </div>
        </div>
    </section>

    <!-- How to launch with us -->
    <section class="container mb-lg-5 pb-lg-5 pb-4">
        <h2 class="h1 pb-3 text-center">How to launch with us</h2>
        <div class="swiper" data-swiper-options='{
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "0": {
              "slidesPerView": 1,
              "spaceBetween": 24
            },
            "500": {
              "slidesPerView": 2,
              "spaceBetween": 24
            },
            "992": {
              "slidesPerView": 3,
              "spaceBetween": 24
            }
          }
        }'>
            <div class="swiper-wrapper">

                <!-- Item -->
                <div class="swiper-slide h-auto">
                    <div class="card icon-box-media border-0 bg-secondary h-100">
                        <div class="icon-box bg-dark">
                            <i class="cri-chat text-light"></i>
                        </div>
                        <div class="card-body">
                            <h3 class="h4 mb-2 pb-1">Define product scope with Crassula</h3>
                            <p class="mb-0 fs-lg">Get in touch with us to discuss the banking product your customers
                                need. With Crassula's modular system, you will get Backoffice Dashboard with
                                connected and fully branded iOS, Android and Web interfaces shaped for your business
                                model.</p>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="swiper-slide h-auto">
                    <div class="card icon-box-media border-0 bg-secondary h-100">
                        <div class="icon-box bg-accent">
                            <i class="cri-milestone"></i>
                        </div>
                        <div class="card-body">
                            <h3 class="h4 mb-2 pb-1">Onboard to Clear.Bank</h3>
                            <p class="mb-0 fs-lg">We connect you directly to Clear.Bank to go through the onboarding
                                process and connect the services you need for growing your business. Don't worry
                                about integration, connectivity and technical details - Crassula's got you
                                covered.</p>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="swiper-slide h-auto">
                    <div class="card icon-box-media border-0 bg-secondary h-100">
                        <div class="icon-box">
                            <i class="cri-shuttle"></i>
                        </div>
                        <div class="card-body">
                            <h3 class="h4 mb-2 pb-1">Ready to launch!</h3>
                            <p class="mb-0 fs-lg">Once you're all set with products and services, Crassula sets up
                                a dedicated manager to help you with all the processes setup and maintenance to help you
                                run your business smoothly. Congratulations! Your digital bank journey is about to
                                start.</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Pagination (bullets) -->
            <div class="swiper-pagination position-relative d-lg-none d-flex mt-5 pt-4"></div>
        </div>
    </section>

    <!-- CTA -->
    {% include 'landings/includes/cta/digital_bank.html' %}

{% endblock %}
